body{
  background: #5b9ab3;
  font-size: 20px;
  background-image: url("./rain.png");
}
.logo{
  display: block;
  padding: 5% 45% 2% 37%;
  width: 30%;
  height: 26%;
}

.app-title{
  text-align: center;
  display: block;
  color: white;
  background-color:black;
  border-radius: 1%;
  padding: 1% 20% 1% 20%;
}
.container{
  color:#00000;
	font-size:20px;
  font-family: Arial;
  text-align: center;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 user-select: none;
 display: block;
}

.add-btn{
  background-color: green;
  color: white;
  width:8em;
  height:3.2em;
  border-radius: 10px;
  margin: 1% 30% 1% 28%;
}
input{
  border-style:inset;
  border-color: black;
  margin:5px 5px 5px 5px;
	display:inline-block;
  font-size:20px;
	background:rgba(189,189,189,0.5);
	color:white;
}

ul{
  list-style: none;
}
.btn{
  background-color: #8a3333;
  color: white;
  width:7em;
  height:2.4em;
  margin: 6px 50px;
  border-radius: 8px;
}
label{
	text-align:center;
	color:white;
  background-color:#2a2b2b;
}
